@inherits LayoutComponentBase
    <div class="mainContainer">
        <div class="moaNav">
            <div class="mainTitle">AnimePomodoro</div>
            <div class="mainSubtitle">by Moa</div>

        </div>
        <div>@Body</div>
    </div>

    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    @*<div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>*@
