@inherits LayoutComponentBase
    <div class="mainContainer">
        <div class="moaNav">
            <div class="mainTitle">AnimePomodoro</div>
            <div class="mainSubtitle">by Moa</div>

        </div>
        @Body
    </div>
